.lst {
    text-decoration: none;
}

.social-icon {
    cursor: pointer;
}

.ld-banner {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ld-banner ul {
    list-style: none;
}

.banner-image {
    margin: 10%;
    margin-bottom: 2%;
}