.lst {
    text-decoration: none;
}

.social-icon {
    cursor: pointer;
}

.ld-banner {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ld-banner ul {
    list-style: none;
}

#sb {
    display: none;
    cursor: pointer;
    padding: 5px 30px;
    border: 1px solid #285df0ad;
    border-radius: 3px;
    background: #dddddd;
    box-shadow: 0 5px #072fb1;
}

#sb:hover {
    background: #918888;
}

#sb:active {
    transform: translateY(-5px);
    box-shadow: 0 2px #052488;
}

.banner-image {
    margin: 10%;
    margin-bottom: 2%;
}